// Widescreens
@include mediaXl {
    
}

// Desktop and Laptop
@include mediaLrg {
    
}

// Tablet and Notebooks
@include mediaMdm {
    main {
        align-items: center;
        text-align: center;
        
        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu{
        .nav-item {
            transform: translate3d(0, 600px, 0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(0, 100%, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(0, -100%, 0);

        .portrait {
            width: 110px;
            height: 110px;
            background-image: url('../img/portrait_small.jpg');
        }
    }
}

// Smartphone and mobile
@include mediaSml {
    main#home h1 {
        margin-top: 10vh;
    }
}